/* Colors
 * #002f5f      Primary         Blue
 * #004165      Secondary       Blue
 * #5c7f92      Secondary       Light Blue
 * #eeaf30      Secondary       Gold
 * #37424a      Secondary       Gray
 * #dcd6b2      Secondary       Cream
 * #1e1e1e      Secondary       Black
 */

body {
	background-color: #002f5f;
	font-family: helvetica, ariel;
}

#wrapper {
	margin: 0 auto;
	width: 960px;
	height: auto;
	background-color: white;
	   -moz-box-shadow: 0 0 7px #070047;
	-webkit-box-shadow: 0 0 7px #070047;
		box-shadow: 0 0 7px #070047;
}

header {
	font: 1.7em 'futura book', sans-serif;
	text-transform: uppercase;
	color: #37424a;
	vertical-align: middle;
	margin-left: 120px;
	padding-top: 25px;
}

header a {
	text-decoration: none;
}

a {
	color: #37424a;
}

a:visited {
	color: #7e868c;
}

a:hover {
	color: #eeaf30;
}

header img {
	vertical-align: middle;
	margin-right: 25px;
}

footer {
	text-align: center;
	padding-bottom: 20px;
	color: #aaa;
	font-size: small;
	margin-top: 30px;
}

div.navigation {
	display: table-cell;
	vertical-align: middle;
	padding-top: 25px;
	padding-bottom: 25px;
}

nav {
	margin-left: 75px;
}

nav .button-link {
	padding: 10px 15px;
	background: white;
	color: #aaa;
	text-decoration: none;
}

nav .button-link:hover {
	color: #555;
	   -moz-box-shadow: 0 8px 5px -6px #ccc;
	-webkit-box-shadow: 0 8px 5px -6px #ccc;
		box-shadow: 0 8px 5px -6px #ccc;
}


.shadow {
	   -moz-box-shadow: 0 0 7px 4px #ccc;
	-webkit-box-shadow: 0 0 7px 4px #ccc;
		box-shadow: 0 0 7px 4px #ccc;
}

.card {
	margin: 0px;
	padding: 10px;
	border: 1px solid #bbb;
	font-size: 0.8em;
	text-align: left;
	width: 35%;
	overflow: hidden;
}

.card:hover {
	   -moz-box-shadow: 0 0 7px 3px #eeaf30;
	-webkit-box-shadow: 0 0 7px 3px #eeaf30;
		box-shadow: 0 0 7px 3px #eeaf30;
}

.card .meta {
	display: none;
}

.card img {
	height: 80px;
	width: 80px;
	margin-right: 25px;
	margin-bottom: 11px;
	float: left;
}

dl {
	margin-bottom: 20px;
}

dl dt {
	float: left;
	padding: 5px;
	width: 75px;
	border-bottom: 1px solid gray;
}

dl dd {
	margin: 2px 0;
	padding: 5px 0;
	border-bottom: 1px solid gray;
	overflow: hidden;
}

dl dt.last-child {
	border-bottom: none;
}

dl dd:last-child {
	border-bottom: none;
}

.cards {
	text-align: center;
}

.cards .card {
	margin: 15px;
	display: inline-block;
	vertical-align: top;
}

